body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: #ecdfcc;
    background-color: #1e2012;
  }
  
button {
  height: 75px;
  width: 75px;
  margin: 10px;
  font-size: 40px;
  background-color: #ecdfcc;
  color: #333;
}

button:hover {
  background-color: #8f908f;
  color: #faf8f6;
}

.calcContainer {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #3c3d37;
}

.previous {
  font-size: 20px;
}

.current {
  font-size: 40px;
}

.num {
  border: 1px solid #333;
  border-radius: 10px;
}

.operator,
.decimal,
.equal {
  border: 1px solid #56ae57;
  border-radius: 10px;
}

.clear {
  border: 1px solid #c23b22;
  border-radius: 10px;
}

.clear:hover {
  background-color: #c23b22;
  color: #faf8f6;
}

.operator:hover,
.equal:hover,
.decimal:hover {
  background-color: #56ae57;
  color: #faf8f6;
}

.firstRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#display {
  width: 270px;
  border: 1px solid black;
  background-color: #ecdfcc;
  color: #333;
  height: 75px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
